
  
/* this is for the Pixel2 XL landscape*/
@media screen and (min-device-width: 414px) and (max-device-width: 823px) and (orientation: landscape) {

    /* section1 */
    .footer p {
      font-size: 2rem;
    }
  
    .footer {
      height: 7vh;
    }
  
    .navButtons {
      font-size: 1.8rem;
      margin: 1.5rem;
    }
  
    .logo h1 span {
      font-size: 2rem;
      margin: .3rem;
    }
  
    .logo {
      top: 3rem;
      left: 4rem;
    }
  
    .heading-paragraph,
    .header-quote {
      font-size: 2rem;
    }
  
    .beginButton input {
      width: 40vw;
      height: 10vh;
      left: 55vw;
      font-size: 2.2rem;
      bottom: 10vh;
    }
  
    /* section 2 */
    .modal-content select {
      width: 40vw;
      left: 20vw;
      top: 40vh;
      height: 4rem;
      font-size: 1.8rem;
    }
  
    #grossIncome {
      top: 30vh;
      width: 20vw;
      left: 15vw;
      font-size: 2.5rem;
    }
  
    .modal-content label {
      font-size: 2.5rem;
      left: 3.5%;
      width: 60vw;
      top: 5vh;
    }
  
    #modalOneButton,
    #modalTwoButton,
    #calcButton,
    #modalTwoPrevButton,
    #modalThreePrevButton {
      right: 10rem;
      top: 58vh;
      height: 6rem;
      width: 12rem;
      font-size: 2.8rem;
    }
  
    #modalTwoPrevButton,
    #modalThreePrevButton {
      left: 10rem;
    }
  
    #calcButton {
      height: 8rem;
      width: 14rem;
    }
  
    .calculation-form label,
    .calculation-form div {
      padding: 0;
      font-size: 1.6rem;
      margin: 0;
    }
  
    #restartButton {
      font-size: 1.8rem;
      margin: 0;
      padding: 0;
    }
  
    .calculation-form:hover {
      transform: translateY(0rem);
    }
  
    /* section 3 */
    .section-3-logo {
      left: 25vw;
      top: 5vh;
    }
  
    .section-3-logo h1 span {
      font-size: 1.8rem;
      margin: 0rem;
      height: 3rem;
      width: 3rem;
    }
  
    .swiper-slide {
      height: 60vh;
      padding: 0rem;
    }
  
    .swiper-container {
      width: 60vw;
    }
  
    .info-name,
    .hmrc-button,
    .home-button {
      font-size: 1.8rem;
      width: 20vw;
      left: 38%;
      height: 10vh;
      margin: 0;
      padding: 0;
    }
  
    .info-img {
      display: none;
    }
  
    .home-button {
      bottom: 7vh;
      left: 1rem;
      font-size: 1.5rem;
      width: 25vw;
    }
  
    .swiper-button-prev {
      left: 30%;
      top: 88vh;
    }
  
    .swiper-button-next {
      right: 30%;
      top: 88vh;
    }
  
    .overlay-heading {
      font-size: 2rem;
    }
  
    .overlay-paragraph,
    .overlay-paragraph p,
    .overlay-paragraph li {
      font-size: 1.4rem;
    }
  
    .info-summary p,
    .info-summary li {
      font-size: 1.7rem;
    }
  
    .overlay-btn {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  
  /* Pixel2 XL portrait */
  @media screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: portrait) {
  
    /* section 1 */
    .footer p {
      font-size: 2rem;
    }
  
    .footer {
      height: 7vh;
    }
  
    .navButtons {
      font-size: 1.3rem;
      margin: 0.1rem;
    }
  
    .logo h1 span {
      font-size: 2rem;
      margin: .3rem;
    }
  
    .logo {
      top: 8rem;
      left: 4rem;
    }
  
    .header-text {
      width: 50vw;
      left: 20vw;
    }
  
    .heading-paragraph,
    .header-quote {
      font-size: 2rem;
    }
  
    .beginButton input {
      width: 60vw;
      height: 6vh;
      left: 35vw;
      font-size: 2.2rem;
      bottom: 12vh;
    }
  
    /* section 2 */
    .modal-content select {
      width: 40vw;
      left: 20vw;
      top: 40vh;
      height: 4rem;
      font-size: 1.8rem;
    }
  
    #grossIncome {
      top: 30vh;
      width: 20vw;
      left: 15vw;
      font-size: 2.5rem;
    }
  
    .modal-content label {
      font-size: 2.5rem;
      left: 3.5%;
      width: 80vw;
      top: 15vh;
    }
  
    #modalOneButton,
    #modalTwoButton,
    #calcButton,
    #modalTwoPrevButton,
    #modalThreePrevButton {
      right: 3rem;
      top: 58vh;
      height: 6rem;
      width: 12rem;
      font-size: 2.8rem;
    }
  
    #modalTwoPrevButton,
    #modalThreePrevButton {
      left: 3rem;
    }
  
    #calcButton {
      height: 8rem;
      width: 14rem;
    }
  
    .calculation-form:hover {
      transform: translateY(0rem);
    }
  
    /* section 3 */
    .section-3-logo {
      left: 25vw;
      top: 5vh;
    }
  
    .section-3-logo h1 span {
      font-size: 1.8rem;
      margin: 0rem;
      height: 3rem;
      width: 3rem;
    }
  
    .swiper-slide {
      height: 60vh;
      padding: 0rem;
      top: 5vh;
    }
  
    .swiper-container {
      width: 70vw;
    }
  
    .info-name,
    .hmrc-button,
    .home-button {
      font-size: 1.8rem;
      width: 30vw;
      left: 30%;
      height: 6vh;
      margin: 0;
      padding: 0;
    }
  
    .info-img {
      display: none;
    }
  
    .home-button {
      bottom: 7vh;
      left: 1vw;
      font-size: 1.5rem;
      width: 35vw;
    }
  
    .swiper-button-prev {
      left: 15%;
      top: 88vh;
    }
  
    .swiper-button-next {
      right: 15%;
      top: 88vh;
    }
  
    .overlay-heading {
      font-size: 2rem;
    }
  
    .overlay-paragraph,
    .overlay-paragraph p,
    .overlay-paragraph li {
      font-size: 1.4rem;
    }
  
    .info-summary p,
    .info-summary li {
      font-size: 1.8rem;
    }
  
    .overlay-btn {
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  
/* this is for iPhone5/ SE */
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and ( orientation: landscape){
    /* section 1 */
    .navButtons {
      margin: 1rem;
      padding: 0.4rem;
      font-size: 1.8rem;
    }
  
    .logo{
      top: 3rem;
    }
  
    .logo h1 span{
      font-size: 2.3rem;
    }
    .logo p {
      font-size: 1.5rem;
    }
  
    .heading-paragraph,
    .header-quote {
      font-size: 1.8rem;
    }
    .beginButton input{
      height: 10vh;
      width: 40vw;
    }
  
    .header-text{
      left: 25vw;
    }
    /* section 2 */
    .modal-content{
      top: 5vh;
    }
    .modal-content select {
      width: 50vw;
      height: 4rem;
      left: 18%;
      top: 32vh;
    }
  
    #grossIncome {
      width: 20vw;
      left: 20%;
      font-size: 1.8rem;
      top: 22vh;
      height: 6vh;
    }
  
    #calcButton {
      height: 8rem;
      width: 14rem;
      right: 8rem;
    }
  
    #modalOneButton, #modalTwoButton, #calcButton, #modalTwoPrevButton, #modalThreePrevButton{
      top: 52vh;
    }
  
    .modal-content label {
      font-size: 2rem;
      top: 1vh;
      width: 80vw;
      left: 5vw;
    }
  
    .calculation-form div,
    .calculation-form label {
      font-size: 1.35rem;
      padding: 0;
      margin: 0;
    }
  
    .calculation-form {
      padding: 0rem;
    }
     /* moves form down */
    .calculation-form:hover{
      transform: translateY(1.5rem);
    }
  
    /* section 3 */
    .section-3-logo{
      left: 5vw;
      width: 80vw;
    }
  
    .overlay-heading {
      font-size: 1.2rem;
    }
  
    .overlay-paragraph, .overlay-paragraph p, .overlay-paragraph li{
      font-size: 1.1rem;    
      margin-left: 0rem;
    }
  
    .swiper-slide {
      height: 60vh;
      top: 2vh;
    }
  
    .info-summary p, .info-summary li{
      font-size: 1.45rem;
      margin-left: 1rem;
    }
  
    .info-name, .hmrc-button{
      font-size:1.5rem;
      width: 40vw;
      height: 8vh;
      left: 20vw;
    }
  
    /* hides these 2 specific overlay headings */
    #student-loan-overlay, #national-insurance{
      display: none;
    }
  
    #national-insurance-paragraph{
      margin-top: 1.5rem;
    }
  
    .swiper-container{
      width: 75vw;
    }
  
    .home-button{
      bottom: 6vh;
      font-size: 1.4rem;
    }
  
    /* adjust swiper button positions to be left of the swiper container */
    .swiper-button-prev, .swiper-button-next{
      top: 50vh;
    }
  
    .swiper-button-next{
      right: 5vw;
    }
    .swiper-button-prev{
      left: 5vw;
    }
  }
  /* iPhone5 SE portrait */
  @media screen and (min-device-width: 320px) and (max-device-width: 568px) and ( orientation: portrait){
    /* section 1 */
    /* as the view port is so narrow, this makes the nav bar buttons stack ontop of each other */
    .navButtons {
      font-size: 1.5rem;
      margin: .2rem;
      padding: .2rem;
      display: flex;
      width: 20rem;
    }
  
    /* this makes the navbar a bit wider,to accomodate the navbar buttons */
    .navbar {
      height: 10rem;
    }
  
    .logo {
      left: 2rem;
      top: 8rem;
    }
  
    .logo h1 span {
      font-size: 1.9rem;
      width: 3rem;
      height: 3rem;
      margin: 0rem;
    }
  
    .heading-paragraph,
    .header-quote {
      font-size: 1.8rem;
      width: 50vw;
    }
  
    .header-text {
      left: 12vw;
      top: 3rem;
    }
  
    .beginButton input {
      font-size: 2.5rem;
      left: 10vw;
      width: 80vw;
      height: 8vh;
      bottom: 15vh;
    }
  
    .footer p{
      font-size: 2rem;
    }
  
    /* section 2 */
    .modal-content {
      height: 70vh;
      top: 15vh;
    }
  
    .close{
      line-height: 0;
    }
  
    .modal-content label {
      font-size: 1.8rem;
      width: 100vw;
      left: 5vw;
    }
  
    #grossIncome{
      top: 30vh;
      height: 6vh;
      font-size: 2rem;
    }
  
    .modal-content select {
      width: 60vw;
      left: 10%;
      top: 38vh;
    }
  
    #modalOneButton,
    #modalTwoButton,
    #modalTwoPrevButton,
    #modalThreePrevButton,
    #calcButton {
      left: 15vw;
      top: 58vh;
      height: 4rem;
      font-size: 2rem;
    }
  #modalOneButton,
    #modalTwoButton{
      left: 20vw;
    }
  
    #modalTwoPrevButton,
    #modalThreePrevButton {
      top: 50vh;
    }
  
    #calcButton {
      left: 12vw;
      font-size: 2rem;
      height: 6rem;
    }
  
    
    .calculation-form:hover {
      transform: translateY(2rem);
    }
  
    .calculation-form label,
    .calculation-form,
    .calculation-form div {
      padding: 0;
      font-size: 1.5rem;
      margin: 0;
    }
  
    #restartButton{
      font-size: 2rem;
    }
  
    /* section 3 */
    .section-3-logo {
      left: 0vw;
      top: 12vh;
      width: 100vw;
    }
  
    .section-3-logo h1 span {
      font-size: 1.5rem;
      margin: 0rem;
      height: 3rem;
      width: 3rem;
    }
  
    .swiper-slide {
      height: 60vh;
      padding: 0rem;
      top: 8vh;
    }
  
    .swiper-container {
      width: 80vw;
    }
  
    .info-name,
    .hmrc-button,
    .home-button {
      font-size: 1.5rem;
      width: 30vw;
      left: 30%;
      height: 6vh;
      margin: 0;
      padding: 0;
    }
  
    .info-img {
      display: none;
    }
  
    .home-button {
      bottom: 5vh;
      left: 1vw;
      font-size: 1.5rem;
      width: 45vw;
      height: 8vh;
    }
  
    .swiper-button-prev {
      left: 15%;
      top: 88vh;
    }
  
    .swiper-button-next {
      right: 15%;
      top: 88vh;
    }
  
    .overlay-heading {
      font-size: 2rem;
      padding-left: 3rem;
    }
  
    .overlay-wrapper{
      padding: 1rem 0rem;
    }
  
    .overlay-paragraph,
    .overlay-paragraph p,
    .overlay-paragraph li {
      font-size: 1.2rem;
    }
  
    .info-summary p,
    .info-summary li {
      font-size: 1.7rem;
      margin-left: 1rem;
    }
  
    .overlay-btn {
      height: 3.5rem;
      width: 3.5rem;
    }
  
  }