* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}

/*reduces the size of html font, so the rem goes from 16 to 10 pixels*/
/* adjusts how scrolling works */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* this sets a directory of predefined colours that can be referred to throughout the project */
:root {
  --primary-colour: rgb(255, 255, 255);
  --secondary-colour: rgb(143, 6, 6);
  --grey-colour: #555;
  --light-grey-colour: rgb(119, 119, 119, 0.5);
  --light-grey-translucent: rgba(119, 119, 119, 0.092);
  --black-colour: rgb(2, 2, 2);
  --gold-colour: rgba(243, 229, 29, 0.863);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: var(--black-colour);
  color: var(--primary-colour);
  text-align: center;
}

.navbar {
  width: 100%;
  height: 6vh;
  background-color: var(--black-colour);
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top .4s .2s;
}

.navButtons {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 2.5rem;
  opacity: 1;
  color: var(--primary-colour);
  background-color: var(--black-colour);
  border-color: var(--primary-colour);
  font-size: 2.3rem;
}

.container-fluid {
  padding: 0;
}

/* pre-define settings to centre things */
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 1 */
.section-1 {
  /*height and width make it take over the entire viewport*/
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 1rem;
}

.header {
  width: 100vw;
  height: 100vh;
  /* this puts a filter on the image, heightening visibility of text */
  background: linear-gradient(rgba(218, 226, 238, 0.5), rgba(180, 183, 189, 0.3)),
    url(images/money-tree.jpg) center no-repeat;
  background-size: cover;
  /* this affects the child elements */
  position: relative;
}

.header-text {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  width: 30vw;
  position: relative;
  left: 30vw;
}

.heading-paragraph {
  font-size: 3rem;
  color: var(--primary-colour);
  text-shadow: 0 0.3rem 0.5rem var(--grey-colour);
}

.header-quote {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black-colour);
  max-width: 70rem;
  margin: auto;
}

/* adjusting how "wage calculator is displayed" */
.logo {
  position: absolute;
  top: 10rem;
  right: 10vw;
}

/* although the below shows up in section 3, stylistically it is adjustment of the above, so I am leaving it here */
.section-3-logo {
  position: absolute;
  top: 10rem;
  /* the 2 lines below centre it*/
  width: 50%;
  margin: 0 auto;
}

.logo .section-3-logo p {
  font-size: 2rem;
  color: var(--black-colour);
}

/* adjusting appearance of section 1 and 3 headings*/
.logo h1 span,
.section-3-logo h1 span {
  font-size: 3rem;
  font-weight: 900;
  color: var(--secondary-colour);
  text-transform: uppercase;
  background-color: var(--primary-colour);
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.beginButton input {
  border-radius: 5rem;
  position: absolute;
  bottom: 10rem;
  right: 10vw;
  width: 20vw;
  height: 6vh;
  font-size: 3rem;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

/* section 2 */
/* this section is hidden by default */
#section-two {
  display: none;
}

.section-2 {
  /*height and width make it take over the entire viewport*/
  width: 100%;
  height: 100vh;
  background-image: url('./images/coin-stack.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* this houses the house image and the text that labels it as a home button */
.image-container {
  position: relative;
  text-align: center;
  transform: rotateY(20deg);
  transition: all .5s;
  width: 29vw;
  border-radius: 2.5rem;
  color: var(--black-colour);
}

/* this centres the relevant text onto the house image */
.centre-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

/* styles the house image */
/* transform rotate with a positive value tilts the image as if the left edge is closer to the viewer */
.form-img {
  width: 30vw;
  background-color: var(--primary-colour);
  padding: 1rem;
  opacity: .6;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 2.5rem;
  transform: rotateY(20deg);
  transition: all .5s;
}

/* this hover effect adjusts the opacity of the house image */
.form-img:hover {
  opacity: 1;
}

/* this hover effect moves the image container up a bit, and keeps it angled away from the viewer, and moves the box shadow */
.image-container:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
  opacity: 1;
}

/* this holds the image and calculation forms divs */
.form-container {
  width: 80%;
  height: 70vh;
  background-color: var(--light-grey-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: .3rem .3rem .4rem #ccc, -.1rem -.1rem -.4 rem #ccc;
  border-radius: .5rem;
  perspective: 100rem;
  opacity: .8;
  transition: all .5s;
  top: 15%;
  color: var(--black-colour);
}

.form-container:hover {
  opacity: 1.5;
}

/* styles the calculation form  */
/* transform rotate with a negative value tilts the image as if the right edge is closer to the viewer */
.calculation-form {
  width: 45rem;
  background-color: var(--light-grey-colour);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 2.5rem;
  box-shadow: 3rem 3rem 4 rem #aaa;
  transform: rotateY(-20deg);
  transition: all .5s;
  border-style: solid;
  border: var(--black-colour);
  color: var(--black-colour);
}

/* affects the look of the .calculation-form labels, i.e. 'tax owed' etc.*/
.calculation-form label {
  font-size: 2rem;
  font-weight: 300;
}


/* affects the look of the .calculation-form results that are displayed once the calculations are complete*/
.calculation-form div {
  color: var(--gold-colour);
  font-size: 2rem;
}

/* this hover effect moves the image up a bit, and keeps it angled awaye from the viewer, and moves the box shadow */
.calculation-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
  background-color: var(--grey-colour);
  color: var(--primary-colour);
}

.pageButtons {
  margin: 1rem;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 2.5rem;
  border: var(--primary-colour);
  opacity: 1;
  background-color: var(--light-grey-colour);
}

/* .pageButtons:hover {
  background-color: var(--light-grey-translucent);
} */


/* this affects how the input fields in the modal look */
.calculation-form input,
#student-loan,
#country,
#grossIncome,
#gross-income-frequency {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2.5rem;
  box-shadow: inset .1rem .1rem .2rem #ddd, inset -.1rem -.1rem -.2rem #ddd;
}

#grossIncome {
  width: 6vw;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-image: url(images/coin-stack.jpg);
  background-size: cover;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--secondary-colour);
  margin: 15% auto;
  margin-top: 8%;
  padding: 3rem;
  padding-left: 4rem;
  border: 1px solid var(--light-grey-colour);
  width: 80vw;
  height: 80vh;
  background-image: url(images/coin-background.jpg);
  background-size: cover;
  border-radius: 5rem;
}

/* this is the text with instructions on the modal, e.g. 'type your income' */
.modal-content label {
  margin: 20% auto;
  color: var(--primary-colour);
  margin-left: 20%;
  font-size: 3rem;
}

.modal-content select{
 padding-left: 10%;
}

.modal-button{
  position: absolute;
  bottom: 20vh;
  border-radius: 30%;
  background-color: rgba(218, 226, 238, 0.2);
  color: var(--primary-colour);
  font-size: 4rem;
}

#modalOneButton {
  height: 8rem;
  width: 12rem;
  left: 50%;
}

#modalTwoPrevButton,
#modalThreePrevButton {
  height: 8rem;
  width: 16rem;
  left: 20%;
}


#modalTwoButton {
  height: 8rem;
  width: 12rem;
  left: 70%;
}

#calcButton {
  height:12rem;
  width: 18rem;
  left: 70%;
}

/* The x Button for the modals */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* section 3 */
/* this section is hidden by default */
#pageThreeButton {
  display: none;
}

#section-three {
  display: none;
}

.section-3 {
  /*height and width make it take over the entire viewport*/
  width: 100%;
  height: 100vh;
  background-image: url('./images/coin-india.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}


/* this makes the cards go horizontal, very important */
.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  padding-top: 20vh;
}

/* this is for each item of information */
.info-card {
  width: 18vw;
  height: 55vh;
  background-color: var(--primary-colour);
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1 rem 2 rem #ddd, -1rem -1rem -2 rem #eee;
  position: relative;
  opacity: .7;
  transform: opacity 0.5s;
  border-radius: 2.5rem;
  margin: 5rem;
  /*this puts space between the info cards */
}

/* upon mouse hover, adjusts the opacity, nice visual effect */
.info-card:hover {
  opacity: 1;
}

/* change these 2  to flex end/start to adjust how the info cards are displayed, or delete/ comment out if a straight line is preferred */
/* .info-card:first-child {
  align-self: flex-end;
}

.info-card:last-child {
  align-self: flex-start;
}  */

/* adjusts the size of the image used on each card*/
.info-img {
  width: 100%;
  border-radius: .5rem;
  height: 40%;
}

/* the heading for each card */
.info-name {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--secondary-colour);
  margin-top: 2rem;
}

.info-name span {
  font-size: 1.7rem;
}

.info-summary {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
  flex-direction: column;
}

.info-summary li {
  font-size: 1.5rem;
  color: #505050;
  margin-left: 2rem;
}


/* this makes the colour scheme match the 'water my money tree' button in section 1 */
#goToHomeButton {
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
}

/* links to relevant tax page */
.link-btn {
  background-color: var(--secondary-colour);
  color: #fff;
  padding: .5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* this styles the button, placing it top right of the information card */
.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

/* upon clicking, button spins */
.change.story-btn {
  transform: rotate(450deg);
}

/* this is a little line that highlights the button positioning */
.story-btn-line {
  width: 100%;
  height: .1rem;
  background-color: #fff;
}

/* this appears when the top right button of the info card is clicked */
.story-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-colour);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  transition: all .5s;
  color: var(--primary-colour);
}

.change.story-wrapper {
  transform: scale(1);
  border-radius: 2.5rem;
}

.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.2rem;
  color: #eee;
  text-align: left;
  letter-spacing: .1rem;
  text-indent: 2rem;
  float: left;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

@media screen and (max-width: 1024px) {

  /* section 1 adjustments */
  .logo {
    right: 23vw;
    font-size: 3rem;
    top: 12rem;
  }

  .logo h1 span{
    font-size: 6.5rem;
  }
  .header-text{
    left: 25vw;
  }

  .heading-paragraph{
    font-size: 3.5rem;
  }

  .header-quote {
    font-size: 2.5rem;
  }

  .beginButton input{
    width: 35vw;
  }

 .footer p {
   font-size:3rem;
 }

 .navButtons{
   font-size: 3rem;
 }

 /* section 2 adjustments */

 .modal-content{
  width: 80vw;
  height: 80vh;
 }
}