* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(178, 197, 10);
  color: white;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: rgb(178, 197, 10);
  position: fixed;
  top: 1rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top .4s .2s;
}

.container-fluid {
  padding: 0;
}
