body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: "Exo", sans-serif;;
}

/*reduces the size of html font, so the rem goes from 16 to 10 pixels*/
/* adjusts how scrolling works */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* this sets a directory of predefined colours that can be referred to throughout the project */
:root {
  --primary-colour: rgb(255, 255, 255);
  --secondary-colour: rgb(143, 6, 6);
  --grey-colour: #555;
  --light-grey-colour: rgb(119, 119, 119, 0.5);
  --light-grey-translucent: rgba(119, 119, 119, 0.092);
  --black-colour: rgb(2, 2, 2);
  --gold-colour: rgba(243, 229, 29, 0.863);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: var(--black-colour);
  color: var(--primary-colour);
  text-align: center;
}

.footer p {
  font-size: 3rem;
}

.navbar {
  width: 100%;
  height: 6vh;
  background-color: var(--black-colour);
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navButtons {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2.5rem;
  opacity: 1;
  color: var(--primary-colour);
  background-color: var(--black-colour);
  border-color: var(--primary-colour);
  font-size: 2rem;
  position: relative;
  text-transform: capitalize;
}

.container-fluid {
  padding: 0;
}

/* pre-define settings to centre things */
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 1 */
.section-1 {
  /*height and width make it take over the entire viewport*/
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 1rem;
}

.header {
  width: 100vw;
  height: 100vh;
  /* this puts a filter on the image, heightening visibility of text */
  background: linear-gradient(rgba(218, 226, 238, 0.5), rgba(180, 183, 189, 0.3)),
    url(images/money-tree.jpg) center no-repeat;
  background-size: cover;
  /* this affects the child elements */
  position: fixed;
}

.header-text {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  width: 30vw;
  position: relative;
  left: 30vw;
}

.heading-paragraph {
  font-size: 3rem;
  color: var(--primary-colour);
  text-shadow: 0 0.3rem 0.5rem var(--grey-colour);
}

.header-quote {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black-colour);
  max-width: 70rem;
  margin: auto;
}

/* adjusting how "money tree" is displayed*/
.logo {
  position: absolute;
  top: 10rem;
  right: 10vw;
}

/* although the below shows up in section 3, stylistically it is adjustment of the above, so I am leaving it here */
.section-3-logo {
  position: absolute;
  top: 8rem;
  /* the 2 lines below centre it*/
  width: 50vw;
  left: 35vw;
}

.logo p,
.section-3-logo p {
  font-size: 2rem;
  color: var(--black-colour);
  text-align: center;
}

/* adjusting appearance of section 1 and 3 headings*/
.logo h1 span,
.section-3-logo h1 span {
  font-size: 3rem;
  font-weight: 900;
  color: var(--secondary-colour);
  text-transform: uppercase;
  background-color: var(--primary-colour);
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.beginButton input {
  border-radius: 5rem;
  position: absolute;
  bottom: 10rem;
  right: 10vw;
  width: 20vw;
  height: 6vh;
  font-size: 3rem;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

/* section 2 */
/* this section is hidden by default */
#section-two {
  display: none;
}

.section-2 {
  /*height and width make it take over the entire viewport*/
  width: 100vw;
  height: 100vh;
  background-image: url('./images/coin-stack.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* this houses the house image and the text that labels it as a home button */
.image-container {
  position: relative;
  text-align: center;
  transform: rotateY(20deg);
  transition: all .5s;
  width: 29vw;
  border-radius: 2.5rem;
  color: var(--black-colour);
}

/* this centres the relevant text onto the house image */
.centre-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

/* styles the house image */
/* transform rotate with a positive value tilts the image as if the left edge is closer to the viewer */
.form-img {
  width: 30vw;
  background-color: var(--primary-colour);
  padding: 1rem;
  opacity: .6;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 2.5rem;
  transform: rotateY(20deg);
  transition: all .5s;
}

/* this hover effect adjusts the opacity of the house image */
.form-img:hover {
  opacity: 1;
}

/* this hover effect moves the image container up a bit, and keeps it angled away from the viewer, and moves the box shadow */
.image-container:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
  opacity: 1;
}

/* this holds the image and calculation forms divs */
.form-container {
  width: 80%;
  height: 70vh;
  background-color: var(--light-grey-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: .3rem .3rem .4rem #ccc, -.1rem -.1rem -.4 rem #ccc;
  border-radius: .5rem;
  perspective: 100rem;
  opacity: .8;
  transition: all .5s;
  top: 15%;
  color: var(--black-colour);
}

.form-container:hover {
  opacity: 1.5;
}

/* styles the calculation form  */
/* transform rotate with a negative value tilts the image as if the right edge is closer to the viewer */
.calculation-form {
  width: 45rem;
  background-color: var(--light-grey-colour);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 2.5rem;
  box-shadow: 3rem 3rem 4 rem #aaa;
  transform: rotateY(-20deg);
  transition: all .5s;
  border-style: solid;
  border: var(--black-colour);
  color: var(--black-colour);
  text-align: center;
}

/* affects the look of the .calculation-form labels, i.e. 'tax owed' etc.*/
.calculation-form label {
  font-size: 2rem;
  font-weight: 300;
}


/* affects the look of the .calculation-form results that are displayed once the calculations are complete*/
.calculation-form div {
  color: var(--gold-colour);
  font-size: 2rem;
}

/* this hover effect moves the image up a bit, and keeps it angled awaye from the viewer, and moves the box shadow */
.calculation-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
  background-color: var(--grey-colour);
  color: var(--primary-colour);
}

.pageButtons {
  margin: 1rem;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 2.5rem;
  border: var(--primary-colour);
  opacity: 1;
  background-color: var(--light-grey-colour);
}

/* this affects how the input fields in the modal look */
.modal-input {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2.5rem;
  height: 5rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-image: url(images/coin-stack.jpg);
  background-size: cover;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--secondary-colour);
  margin: 15% auto;
  margin-top: 8%;
  padding: 3rem;
  padding-left: 4rem;
  border: 1px solid var(--light-grey-colour);
  width: 80vw;
  height: 80vh;
  background-image: url(images/coin-background.jpg);
  background-size: cover;
  border-radius: 5rem;
}

/* this is the text with instructions on the modal, e.g. 'type your income' */
.modal-content label,
modal-content select,
.modal-content input {
  color: var(--primary-colour);
  margin-left: 20%;
  font-size: 4rem;
  height: 4vh;
  width: 12vw;
  position: absolute;
  top: 35%;
  left: calc(30% - 6vw);
}

.modal-content label {
  display: flex;
  width: 30vw;
  margin: 10% auto;
  top: 25%;
}

#grossIncome {
  width: 20vw;
  position: absolute;
  top: 55%;
  left: calc(31% - 10vw);
  color: var(--black-colour);
}

.modal-content select {
  position: absolute;
  top: 62%;
  left: calc(50% - 10vw);
  width: 20vw;
}

.modal-button {
  position: absolute;
  top: 55vh;
  border-radius: 30%;
  background-color: rgba(218, 226, 238, 0.2);
  color: var(--primary-colour);
  font-size: 4rem;
  height: 8rem;
  width: 12rem;
}

#modalOneButton,
#modalTwoButton {
  right: 20%;
}

#modalTwoPrevButton,
#modalThreePrevButton {
  width: 16rem;
  left: 20%;
  top: 55vh;
}

#calcButton {
  height: 12rem;
  width: 18rem;
  right: 20%;
}

/* The x Button for the modals */
.close {
  color: #aaa;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* section 3 */
/* this section is hidden by default */

#section-three {
  display: none;
}

.section-3 {
  /*height and width make it take over the entire viewport*/
  width: 100vw;
  height: 100vh;
  background-image: url('./images/coin-india.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.swiper-container {
  width: 40vw;
  height: 80vh;
  padding-top: 10vh;
  margin: 2% auto;
}

/* this is for each item of information */
.swiper-slide {
  width: 35vw;
  height: 60vh;
  background-color: var(--primary-colour);
  padding: 1rem 5rem;
  position: relative;
  opacity: .7;
  border-radius: 5rem;
  margin: 5% auto;
}

/* upon mouse hover, adjusts the opacity, nice visual effect */
.swiper-slide:hover {
  opacity: 1;
}

/* left and right buttons for the carousel */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-colour);
  right: 40%;
  top: 85vh;
}

.swiper-button-prev {
  left: 40%;
}

/* adjusts the size of the image used on each card*/
.info-img {
  width: 25vw;
  border-radius: .5rem;
  height: 25vh;
  position: relative;
  left: calc(50% - 12.5vw);
}

/* the heading for each card + the hmrc link*/
.info-name,
.hmrc-button,
.home-button {
  padding: .5rem .5rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 4vh;
  position: relative;
}

.info-name {
  font-weight: 700;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  width: 16vw;
  left: calc(50% - 8vw);
}

.hmrc-button {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  left: calc(50% - 5vw);
}

/* this makes the colour scheme match the 'water my money tree' button in section 1 */
.home-button {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  width: 12vw;
  font-size: 2rem;
  height: 6vh;
  z-index: 1;
  bottom: 11vh;
}

.info-summary {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-summary p,
.info-summary li {
  color: var(--black-colour);
  font-size: 2.5rem;
  margin-left: 3rem;
  float: left;
  letter-spacing: .1rem;
}

/* this styles the button, placing it top right of the swiper */
.overlay-btn {
  width: 4rem;
  height: 4rem;
  background-color: var(--black-colour);
  position: absolute;
  top: -1rem;
  right: .2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

/* upon clicking, button spins */
.change.overlay-btn {
  transform: rotate(450deg);
}

/* this is a little line that highlights the button positioning */
.overlay-btn-line {
  width: 100%;
  height: .1rem;
  background-color: #fff;
}

/* this appears when the top right button of the swiper is clicked */
.overlay-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-colour);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  transition: all .5s;
  color: var(--primary-colour);
  font-size: 4rem;
}

.change.overlay-wrapper {
  transform: scale(1);
  border-radius: 2.5rem;
}

.overlay-heading {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-colour);
  margin-bottom: 2rem;
  top: 5rem;
}

.overlay-paragraph {
  font-size: 2rem;
  color: var(--primary-colour);
  text-align: left;
  letter-spacing: .1rem;
  text-indent: 2rem;
  float: left;
}


/* this is for Ipad Pro */
@media screen and (max-width: 1024px) {

  /* section 1 adjustments */
  .logo {
    left: 12rem;
    top: 12rem;
  }

  .logo p {
    font-size: 3.5rem;
  }

  .logo h1 span {
    font-size: 6.5rem;
  }

  .header-text {
    left: 20vw;
    width: 50vw;
  }

  .heading-paragraph {
    font-size: 4rem;
  }

  .header-quote {
    font-size: 4rem;
  }

  .beginButton input {
    width: 45vw;
    bottom: 20vw;
  }

  .navButtons {
    font-size: 3rem;
  }

  /* section 2 adjustments */
  .modal-content {
    width: 80vw;
    height: 80vh;
    top: 8%;
  }

  .modal-content label {
    width: 100%;
  }

  .modal-content select {
    top: 45vh;
    width: 30vw;
    left: 25vw;
  }

  #grossIncome {
    top: 50%;
  }

  /* section 3 adjustments */
  .swiper-button-next,
  .swiper-button-prev {
    top: 82.8vh;
  }

  .swiper-button-next {
    right: 32%;
  }

  .swiper-button-prev {
    left: 32%;
  }

  .hmrc-button,
  .info-name {
    width: 20vw;
    left: calc(50% - 10vw);
    bottom: 15%;
    font-size: 3rem;
    ;
  }

  .swiper-slide {
    padding: 1rem 3rem;
  }

  .swiper-container {
    width: 60vw;
  }

  .home-button {
    bottom: 12vh;
    width: 30vw;
    height: 5vh;
    font-size: 3rem;
  }

  .section-3-logo {
    width: 90vw;
    top: 10vw;
    left: 20%;
  }

  .section-3-logo h1 span {
    height: 5rem;
    width: 5rem;
    font-size: 4rem;
  }

  .overlay-heading {
    font-size: 4rem;
  }

  .overlay-paragraph {
    font-size: 3rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 2.5rem;
  }

  .info-img {
    width: 30vw;
    height: 20vh;
    left: 12vw;
  }
}


/* this is for Kindle Fire */
@media screen and (max-width: 800px){

  /* section 1 adjustments */
  .beginButton input {
    width: 40vw;
  }

  .logo {
    right: 8vw;
  }

  .logo h1 span {
    font-size: 5.5rem;
  }

  /* for .navButtons, adjust the margin to bring the buttons closer together, adjust the padding to increase/decrease space inside the button */
  .navButtons {
    font-size: 2.5rem;
  }

  /* section 2 adjustments */
  .modal-content select {
    top: 60%;
  }

  .modal-content label {
    font-size: 3.5rem;
    left: 10%;
  }

  #grossIncome {
    top: 52%;
  }

  /* section 3 adjustments */
  .swiper-slide {
    height: 60vh;
    width: 70vw;
    padding: 1rem 3rem;
  }

  .section-3-logo {
    width: 90vw;
    top: 12vw;
    left: 10%;
  }

  .hmrc-button,
  .home-button {
    font-size: 2.5rem;
  }

  .swiper-button-prev {
    left: 25%;
  }

  .swiper-button-next {
    right: 25%;
  }

}

/* this is for Ipad */
@media screen and (max-width: 768px) {

  /* section 1 */
  .navButtons {
    margin: .5rem;
    padding: .5rem;
    font-size: 2.5rem;
  }

  /* section 2 */
  .modal-content label {
    left: 10%;
  }

  /* section 3 */

  .swiper-button-prev {
    left: 22%;
  }

  .swiper-button-next {
    right: 22%;
  }

  .home-button {
    width: 30vw;
  }

  .section-3-logo {
    left: 10%;
  }

  .home-button {
    font-size: 2rem;
  }

  .section-3-logo {
    left: 5vw;
  }

  .overlay-heading {
    font-size: 3rem;
  }

  .overlay-paragraph,
  .info-summary p,
  .info-summary li {
    font-size: 2rem;
  }
}

 
/* this is for the Galaxy A21*/
@media screen and (max-width: 720px) {

  /* section 1 */
  .navButtons {
    font-size: 2.3rem;
    margin: 1rem;
    padding: 1rem;
  }

  .logo {
    left: 10rem;
    top: 20rem;
  }

  .logo h1 span {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
  }

  .logo p {
    font-size: 3rem;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 4rem;
    width: 50vw;
  }

  .header-text {
    left: 10vw;
  }

  .beginButton input {
    font-size: 3rem;
    left: 25vw;
    width: 50vw;
    bottom: 25vw;
  }

  /* section 2 */
  .modal-content select {
    width: 40vw;
    left: 23%;
    height: 8vw;
  }

  .modal-content label {
    font-size: 3.5rem;
    width: 50vw;
  }


  #modalTwoPrevButton,
  #modalThreePrevButton {
    left: 5.5rem;
  }

  #modalOneButton,
  #modalTwoButton,
  #calcButton {
    right: 5.5rem;
  }

  /* section 3 */

  .section-3-logo {
    width: 80vw;
    left: 10vw;
    text-align: center;
    top: 16vw;
  }

  .section-3-logo h1 span {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
  }

  .swiper-slide {
    height: 64vh;
  }

  .swiper-container {
    width: 80vw;
  }

  .overlay-btn {
    width: 6rem;
    height: 6rem;
  }

  .info-img {
    width: 40vw;
    border-radius: .5rem;
    height: 20vh;
    position: relative;
    left: calc(50% - 20vw);
  }

  .info-name {
    font-size: 3rem;
  }

  .hmrc-button {
    font-size: 2.5rem;
    width: 30vw;
    text-align: center;
    left: calc(50% - 15vw);
  }

  .home-button {
    font-size: 3rem;
    left: 2%;
    width: 50vw;
    bottom: 19vw;
  }

  .overlay-heading {
    font-size: 3.4rem;
  }

  .overlay-paragraph {
    font-size: 3rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 3rem;
  }

  .swiper-button-next {
    right: 10%;
  }

  .swiper-button-prev {
    left: 10%;
  }

}

/* this is for the surface duo */
@media screen and (max-width: 540px) {

  /* section1 */
  .footer p {
    font-size: 2rem;
  }

  .navButtons {
    font-size: 1.5rem;
  }

  .logo p {
    font-size: 2rem;
  }

  .logo h1 span {
    font-size: 2rem;
  }

  .logo {
    top: 5rem;
    left: 8vw;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 2.5rem;
  }

  .beginButton input {
    width: fit-content;
    height: fit-content;
    left: 40%;
  }

  /* section 2 */
  .modal-content label {
    font-size: 3rem;
  }

  .modal-button {
    font-size: 2rem;
    height: fit-content;
    width: 10rem;
    height: 6rem;
  }

  #calcButton {
    height: 6rem;
    width: 10rem;
    right: 10%;
  }

  #modalOneButton,
  #modalTwoButton {
    right: 10%;
  }

  #modalTwoPrevButton,
  #modalThreePrevButton {
    width: 10rem;
    left: 10%;
  }

  .modal-content select {
    position: absolute;
    top: 60%;
    left: calc(50% - 15vw);
    width: 30vw;
    height: 6vh;
  }

  #grossIncome {
    width: 28vw;
    left: 12vw;
  }

  /* section 3 */
  .section-3-logo h1 span {
    font-size: 1.5rem;
    margin: 1rem;

  }

  .section-3-logo {
    left: 10vw;
    top: 5vh;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.5rem;
  }

  .info-name,
  .hmrc-button,
  .home-button {
    font-size: 1.5rem;
    width: 20rem;
  }

  .home-button {
    height: 5rem;
    bottom: 11.5vh;
  }

  .info-name,
  .hmrc-button {
    left: calc(50% - 10rem);
  }

  .info-img {
    padding: 0;
  }

  .swiper-slide {
    height: 58vh;
    top: 2.5vh;
  }

  .overlay-paragraph {
    font-size: 1.5rem;
  }

  .overlay-heading {
    font-size: 2.5rem;
  }

  .overlay-btn {
    height: 4rem;
    width: 4rem;
  }
}

/* this is for the iPhone 6,7,8 Plus */
@media screen and (max-width: 414px) {

  /* section1 */
  .section-1 {
    position: absolute;
  }

  .footer p {
    font-size: 1.8rem;
  }

  .navButtons {
    font-size: 1.2rem;
    padding: .5rem;
    margin: 1rem;
  }

  .logo h1 span {
    font-size: 1.5rem;
    margin: .5rem;
  }

  .logo {
    top: 5rem;
    left: 10vw;
  }

  .logo p {
    font-size: 2rem;
  }

  .heading-paragraph {
    font-size: 2.2rem;
  }

  .header-quote {
    font-size: 2rem;
  }

  .beginButton input {
    width: 80%;
    height: 6vh;
    left: 10%;
  }

  /* section 2 */
  .modal-content label {
    font-size: 2.5rem;
  }

  .calculation-form {
    font-size: 2rem;
    padding: .5rem;
  }

  .modal-button {
    font-size: 2rem;
    height: fit-content;
    width: 10rem;
  }

  #calcButton {
    height: 6rem;
    width: 10rem;
    right: 10%;
  }

  #modalOneButton,
  #modalTwoButton {
    right: 10%;
  }

  #modalTwoPrevButton,
  #modalThreePrevButton {
    width: 10rem;
    left: 10%;
  }

  .modal-content select {
    left: calc(50% - 20vw);
    width: 40vw;
    height: 5vh;
  }

  #grossIncome {
    width: 28vw;
    left: 12vw;
  }

  /* section 3 */
  .section-3-logo h1 span {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin: 0.2rem;
    margin: 1% auto;
  }

  .swiper-container {
    width: 80vw;
  }

  .swiper-slide {
    padding: .5rem;
    height: 55vh;
    top: 5vh;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.5rem;
  }

  .info-img {
    display: none;
  }

  .info-name,
  .hmrc-button,
  .home-button {
    font-size: 1.4rem;
    width: 40vw;
    left: 25%;
  }

  .home-button {
    left: 1vw;
  }

  .overlay-paragraph {
    font-size: 1.2rem;
  }

  .overlay-heading {
    font-size: 2rem;
  }

  .overlay-btn {
    height: 3rem;
    width: 3rem;
  }

}

/* this is for the Pixel2 XL */
@media screen and (max-width: 411px) {


  /* section1 */

  .footer p {
    font-size: 2rem;
  }

  .navButtons {
    font-size: 1.2rem;
    margin: .5rem;
  }

  .logo h1 span {
    font-size: 2rem;
    margin: .5rem;
  }

  .logo {
    top: 5rem;
    left: 4rem;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 2rem;
  }

  .beginButton input {
    width: fit-content;
    height: fit-content;
    left: 15vw;
  }

  /* section 2 */
  .modal-content select {
    width: 40vw;
    left: 20%;
    top: 40vh;
    height: 4rem;
  }

  #grossIncome {
    top: 35vh;
    width: 35vw;
    left: 5.8%;
    font-size: 2.5rem;
    ;
  }

  .modal-content label {
    font-size: 2.5rem;
    left: 3.5%;
  }

  #modalOneButton,
  #modalTwoButton,
  #calcButton {
    top: 65vh;
  }

  #modalOneButton,
  #modalTwoButton,
  #modalTwoPrevButton,
  #modalThreePrevButton,
  #calcButton {
    left: 10rem;
    height: 6rem;
    width: 12rem;
    font-size: 3rem;
  }

  #calcButton {
    height: 10rem;
    width: 16rem;
    left: 8rem;
  }

  .calculation-form {
    padding: 0;
  }

  /* section 3 */
  .section-3-logo {
    text-align: center;
  }

  .section-3-logo h1 span {
    font-size: 2rem;
    margin: .5rem;
  }

  .swiper-slide {
    top: 5vh;
    padding: 1rem;
  }

  .swiper-container {
    width: 80vw;
  }

  .info-name,
  .hmrc-button,
  .home-button {
    font-size: 1.8rem;
    width: 40vw;
    left: 25%;
  }

  .home-button {
    bottom: 6.5vh;
    left: 2vw;
    font-size: 1.5rem;
  }

  .swiper-button-prev {
    left: 20%;
    top: 88vh;
  }

  .swiper-button-next {
    right: 20%;
    top: 88vh;
  }

  .overlay-heading {
    font-size: 2rem;
  }

  .overlay-paragraph {
    font-size: 1.5rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.5rem;
  }

  .overlay-btn {
    height: 3.5rem;
    width: 3.5rem;
  }
}

/* this is for the Pixel2*/
@media screen and (max-width: 411px) {

  /* section 3 */
  .section-3-logo h1 span {
    font-size: 1.8rem;
    margin: .4rem;
  }

  .section-3-logo {
    top: 5vh;
    left: calc(50% - 35vw);
  }
}


/* this is for the iPhoneX */
@media screen and (max-width: 375px) {

  /* section 1 */
  .navButtons {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 1.3rem;
  }

  .logo h1 span {
    font-size: 1.6rem;
  }

  .logo p {
    font-size: 2.5rem;
  }

  .header-text {
    left: 15vw;
    top: -2rem;
  }

  .beginButton input {
    left: 10vw;
  }

  /* section 2 */
  #grossIncome {
    left: 7%;
  }

  #modalOneButton,
  #modalTwoButton,
  #modalTwoPrevButton,
  #modalThreePrevButton {
    left: 9rem;
  }

  #calcButton {
    left: 7rem;
  }

  /* section 3 */
  .section-3-logo h1 span {
    font-size: 1.6rem;
  }

  .modal-content label {
    width: 80vw;
  }
}

/* this is for the iPhone 6,7 8 normal - NOT PLUS!!!! */
@media screen and (max-width: 375px) {

  /* section 1 */
  .beginButton input {
    font-size: 2.8rem;
    left: 12vw;
  }

  .navButtons {
    margin: 0rem;
    padding: 0.3rem;
  }

  .logo p {
    font-size: 2rem;
  }

  .logo h1 span {
    font-size: 2rem;
    margin: 0.2rem;
  }

  .beginButton input {
    padding: .3rem;
  }

  /* section 2 */
  #modalOneButton,
  #modalTwoButton,
  #modalTwoPrevButton,
  #modalThreePrevButton {
    height: 4rem;
    font-size: 2.5rem;
  }

  #calcButton {
    height: 6rem;
    font-size: 2.2rem;
  }

  .calculation-form label, .calculation-form div{
    font-size: 1.8rem;
  }
  #restartButton{
    font-size: 2rem;
  }

  .calculation-form{
    padding: 0.5rem;
  }

  /* section 3 */
  .home-button {
    font-size: 1.2rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.8rem;
  }

  .overlay-paragraph {
    font-size: 1.3rem;
  }

  .section-3-logo {
    left: calc(50% - 40vw);
  }
}

/* this is for the moto G4 and Galaxy S5  */
@media screen and (max-width: 375px){

  /* section 1 */
  .navButtons {
    margin: 0.2rem;
    padding: 0.4rem;
    font-size: 1.2rem;
  }

  .logo h1 span {
    font-size: 2rem;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 2rem;
  }

  /* section 2 */
  .modal-content select {
    width: 50vw;
    height: 4rem;
    left: 18%;
  }

  #grossIncome {
    width: 40vw;
    left: 5%;
    font-size: 2rem;
  }

  .modal-content label {
    font-size: 2rem;
  }

  /* section 3 */
  .overlay-heading {
    font-size: 1.8rem;
  }

  .overlay-paragraph {
    font-size: 1.4rem;
  }

  .swiper-slide{
    height: 60vh;
  }
}

/* this is for iPhone5/ SE */
@media screen and (max-width: 320px){

  /* section 1 */
  .navButtons {
    font-size: 1.1rem;
    margin: 0.1rem;
    padding: 0.1rem;
  }

  .logo h1 span {
    font-size: 1.8rem;
  }

  .logo {
    left: 2rem;
    top: 3rem;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 1.8rem;
  }

  .beginButton input {
    font-size: 2.5rem;
  }

  /* section 2 */
  #modalOneButton,
  #modalTwoButton,
  #modalTwoPrevButton,
  #modalThreePrevButton {
    left: 7rem;
  }

  #calcButton {
    left: 5rem;
  }

  .calculation-form label {
    font-size: 1.5rem;
    padding: 0rem;
  }

  #restartButton {
    font-size: 1.4rem;
  }

  .calculation-form:hover {
    transform: translateY(-1.5rem) rotateY(-20deg);
  }

  /* section 3 */
  .section-3-logo h1 span {
    font-size: 1.8rem;
    margin: .1rem;
  }

  .overlay-heading {
    font-size: 1.6rem;
  }

  .overlay-paragraph {
    font-size: 1.2rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.5rem;
  }

  .home-button {
    font-size: 1rem;
  }

  .swiper-slide{
    top: 7vh;
  }
}

/* this is for the Galaxy Fold*/
@media screen and (max-width: 280px){

  /* section 1 */
  /* as the view port is so narrow, this makes the nav bar buttons stack ontop of each other */
  .navButtons {
    font-size: 1.5rem;
    margin: .2rem;
    padding: .2rem;
    display: flex; 
    
  }

  /* this makes the navbar a bit wider,to accomodate the navbar buttons */
  .navbar{
    height: 10rem;
  }

  .logo {
    left: 2rem;
    top: 8rem;
  }

  .logo h1 span {
    font-size: 1.9rem;
    width: 3rem;
    height: 3rem;
    margin: 0rem;
  }

  .logo p {
    font-size: 1.8rem;
  }

  .header-text{
    top: 3vh;
  }

  .heading-paragraph,
  .header-quote {
    font-size: 1.8rem;
    width: 50vw;
  }

  .header-text {
    left: 10vw;
  }

  .beginButton input {
    font-size: 2.5rem;
    left: 5%;
  }

  /* section 2 */

  .modal-content{
    height: 70vh;
    margin-top: 20%;
  }

  .modal-content label {
    font-size: 1.8rem;
  }

  .modal-content select {
    width: 60vw;
    left: 10%;
  }

  #modalOneButton,
  #modalTwoButton,
  #modalTwoPrevButton,
  #modalThreePrevButton,
  #calcButton  {
    left: 5.5rem;
    top: 60vh;
  }

  #modalTwoPrevButton,
  #modalThreePrevButton{
    top: 52vh;
  }

  #calcButton {
    left: 3.5rem;
  }

  .calculation-form label {
    font-size: 1.3rem;
  }

  .calculation-form div {
    font-size: 1.2rem;
  }

  #restartButton {
    font-size: 1.4rem;
  }

  /* section 3 */

  .section-3-logo{
    left: 2rem;
    top: 8rem;
  }

  .section-3-logo h1 span {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
  }

  .swiper-slide {
    height: 55vh;
    top: 12vh;
  }

  .hmrc-button {
    font-size: 1rem;
  }

  .home-button{
    width: 42vw;
    left: 1vw;
    bottom: 12vw;
  }

  .overlay-heading {
    font-size: 1.4rem;
  }

  .overlay-paragraph {
    font-size: 1.1rem;
  }

  .info-summary p,
  .info-summary li {
    font-size: 1.45rem;
  }
}