/* this is for Kindle Fire landscape*/
@media screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: landscape) {

    /* section 1 */
    .logo h1 span {
      font-size: 4rem;
    }
  
    .beginButton input {
      width: 40vw;
      font-size: 4rem;
      height: 6rem;
      bottom: 10vw;
    }
  
    .navbar {
      height: 8vh;
    }
  
    .header-quote,
    .heading-paragraph {
      font-size: 3rem;
    }
  
    /* section 2 */
    .modal-content label {
      top: 20%;
    }
  
    #grossIncome {
      top: 45%;
      height: 6vh;
    }
  
    .modal-content select {
      height: 7vh;
    }
  
    /* section 3 */
    .section-3-logo {
      top: 7vh;
    }
  
    .hmrc-button,
    .home-button,
    .info-name {
      font-size: 2.5rem;
    }
  
    .info-summary p,
    .info-summary li,
    .overlay-paragraph p,
    .overlay-paragraph li {
      font-size: 2.5rem;
    }
  
    .swiper-slide {
      padding: 1rem 5rem;
      width: 35vw;
      height: 65vh;
    }
  
    .home-button {
      bottom: 7vh;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      top: 88vh;
    }
  }
  
  /* kindle fire portrait */
  @media screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
  
    /* section 1 */
    .logo h1 span {
      font-size: 6rem;
    }
  
    .beginButton input {
      width: 55vw;
      font-size: 4rem;
      height: 6rem;
      bottom: 25vw;
    }
  
    .navButtons {
      font-size: 2.5rem;
    }
  
    .logo {
      left: 8vw;
    }
  
    .logo p {
      font-size: 3rem;
    }
  
    .header-text {
      width: 40vw;
      left: 25vw;
    }
  
    .header-quote,
    .heading-paragraph {
      font-size: 4rem;
    }
  
    /* section 2 adjustments */
    .modal-content select {
      top: 45vh;
      width: 50vw;
      font-size: 3rem;
      left: 15vw;
    }
  
    .modal-content label {
      font-size: 4rem;
      left: 10%;
    }
  
    #grossIncome {
      top: 40vh;
    }
  
    .calculation-form div,
    .calculation-form label,
    #restartButton {
      font-size: 3rem;
    }
  
    /* section 3 adjustments */
    .swiper-slide {
      height: 60vh;
      padding: .5rem;
    }
  
    .swiper-container {
      width: 70vw;
    }
  
    .section-3-logo {
      width: 90vw;
      top: 12vw;
      left: 8vw;
    }
  
    .info-name,
    .hmrc-button,
    .home-button {
      width: 30vw;
      font-size: 2.5rem;
    }
  
    .hmrc-button,
    .info-name {
      left: 18vw;
    }
  
    .home-button {
      bottom: 15vw;
    }
  
    .swiper-button-prev {
      left: 25%;
    }
  
    .swiper-button-next {
      right: 25%;
    }
  
    .overlay-paragraph {
      font-size: 2rem;
    }
  }


